@font-face {
    font-family: 'MinecraftiaRegular';
    src: url('/Resources/MinecraftiaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.masthead {
    background-image: url("./Resources/Pano1-Blurred.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    height: auto;
    margin-top: -3rem;
}

.masthead h1, .masthead h4 {
    color: #eeeeee;
    mix-blend-mode: overlay;
    font-family: 'MinecraftiaRegular';
}

.mc_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mc_title img {
    width: 48px;
    height: 48px;
    user-select: none;
}

body {
    color: #eeeeee;
    background-color: #252525;
}

body.loading {
    opacity: 0;
    visibility: hidden;
}

body, .masthead {
    opacity: 1;
    visibility: visible;
    transition: opacity ease-in-out 250ms;
}

img.icn {
    width: 20% !important;
    height: auto;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 100%;
}

.container {
    width: 95% !important;
    max-width: 1024px !important;
}

img.blurred {
    filter: blur(10%);
}

.outline-text {
    color: white;
    text-shadow: -1px 0 rgba(0, 0, 0, .5), 0 1px rgba(0, 0, 0, .5), 1px 0 rgba(0, 0, 0, .5), 0 -1px rgba(0, 0, 0, .5);
}

.cards.grid {
    display: grid;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    grid-auto-flow: dense;
}

/* Force a 2-column grid on larger displays */

@media(min-width: 512px) {
    .cards.grid {
        grid-template-columns: repeat(2, minmax(256px, 1fr));
    }
}

.card {
    background-color: #323232 !important;
}